<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="colorInk" class="cn.happy.day02paper.ColorInk"></bean>

    <bean id="b5Paper" class="cn.happy.day02paper.B5Paper"></bean>

    <bean id="print" class="cn.happy.day02paper.Print">
        <property name="ink" ref="colorInk"></property>
        <property name="paper" ref="b5Paper"></property>
    </bean>

</beans>