<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="someService" class="cn.happy.day14autoproxy01.SomeService"></bean>
    <bean id="myafterAdvice" class="cn.happy.day14autoproxy01.MyAfterAdvice"></bean>

    <!--顾问 :包装通知-->
   <bean id="myadvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" ref="myafterAdvice"></property>
        <property name="patterns" value=".*del.*,.*add.*"></property>
    </bean>

   <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
       <property name="beanNames" value="someService"></property>
       <property name="interceptorNames" value="myadvisor"></property>
   </bean>
</beans>