<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"></properties>
    <settings>
        <!--开启自动映射
        NONE,
        PARTIAL,
        FULL
        -->
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <!--
        全局  启用或禁用延迟加载
        true，
        false
        -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--
        侵入式延迟加载  当检索主对象的属性时  会自动激活关联对象的属性
        如果不检索默认发送一条sql，检索当前对象
        false true    false
        -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--
        开启二级缓存条件之一
        -->
        <setting name="cacheEnabled" value="true"></setting>
        <!--
        指定日志
        -->
        <setting name="logImpl" value="LOG4J"></setting>
    </settings>
    <typeAliases>
        <package name="cn.mybatis.day01base.entity"/>
        <!--<package name="cn.mybatis.day02.entity"/>-->
    </typeAliases>
    <environments default="development">  <!--环境-->
        <environment id="development">
            <transactionManager type="JDBC"/>     <!--事务管理机制-->
            <!--POOLED：mybatis：自带的数据源，J-->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="cn/mybatis/day01base/mapper/IUserInfoDao.xml"/>
        <mapper resource="cn/mybatis/day01base/mapper/IEmpDao.xml"/>
       <!-- <mapper resource="cn/mybatis/day02/mapper/IDeptDao.xml"/>
        <mapper resource="cn/mybatis/day02/mapper/IEmpDaoBak.xml"/>
        <mapper resource="cn/mybatis/day02/mapper/ICategoryDao.xml"></mapper>
        <mapper resource="cn/mybatis/day02/mapper/IStudentDao.xml"></mapper>-->
    </mappers>
</configuration>